/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}
.logo{
    width: 200px;
}

header {
   background-image: url(fundo\ basquete.jfif);
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   justify-content: center;
   text-align: center;
  height: 150px;
}
.fim{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 300px;
}

h1 {
    font-size: 2.5rem;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

.curiosidade {
    margin-bottom: 30px;
    
}

.curiosidade img {
    display: block;
    width: 500px;
    margin: 10px 0;
    border-radius: 8px;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
    
}

p {
    font-size: 1.2rem;
    color:black;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.fim{
    margin: 0;
}
.curi{
    color: white;
}
